.container-card {
  display: block;
  box-sizing: border-box;
  border-radius: 1rem;
  background-color: $blue;
  padding: 100px;
  position: relative;
  // top: 50%;
  // left: 50%;
  transform: translate(-50%, -50%);
  border-color: $yellow;
}
