html {
  border: none;
  width: 100%;
  /* background-image: inherit; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../img/primary-background.png");
  background-color: rgba($color: blue, $alpha: 0.2);
}

.home-container {
  max-width: 45%;
  margin: 1em;
}

.ppc-logo-bg {
  background-color: rgba(#c4c4c4, 0.2);
  border-radius: .5em;
  display: inline-block;
  margin: .5em;
  padding: .5em;
}

.ppc-text-logo {
  color: white;
}

.home-text {
  color: white;
}

.create-account-btn {
  background-color: $orange;
  color: white;
  border-radius: .5em;
  margin: 1em;
  padding: 1em;
}
