.contact-form-container {
    // max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.contact-form {
    // min-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: $grayDark;
    border-radius: .5em;
    padding: .5em .5em .5em .5em;
}

.contact-form-text {
    color: $orange;
    font-size: 1.5em;
    margin: 0 0 1em 0;
}

.contact-form-name {
    min-width: 90%;
}

.contact-form-email {
    min-width: 90%;
}

.contact-form-subject {
    min-width: 90%;
}

.contact-form-message {
    min-width: 90%;
}

.contact-form-submit {
    color: white;
    background-color: $orange;
    border: none;
    border-radius: 0.5em;
    margin: 1em 1em 1em 1em;
    padding: .6em;
}