.fact-section {
    background-image: linear-gradient(blue black);
    border-top: solid 5px $orange;
    margin: 1em 0 .5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.fact-title {
    color: $orange;
    text-transform: uppercase;
    font-size: 2.2em;
    padding: 1em 0 1em 0;
}

.fqa-list {
    color: white;
    font-size: 1.2em;
    padding-inline-start: 0.5em;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: auto;
    
    li:nth-child(odd) {
        color: $blue;
        font-size: 1.3em;
    }

    li:nth-child(even) {
        background-color: $background;
    }
}

.fqa-list li {
    margin: 1em;  
}

.image-container {
    padding: 2em 0 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.images {
    border: solid 2px $orange;
    padding: 1em;
    margin: 2em;
}

.create-account-btn:hover {
    color: $orange;
    border: 2px solid $orange;
    background-color: transparent;
}