.test-thing {
  width: 100%;
}

.footer-background {
  background-color: #1D2837;
}

.footer-line {
  border-top: 5px solid white;
  margin-top: 10px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-card {
  background-color:  #47484950;
  color: white;
  border-radius: 20px;
  margin: 15px 5px 15px 5px;
  padding: 5px 5px 5px 5px;
}

.footer-links {
  color: white;
  text-decoration: none;
  text-align: start;
  padding-inline-start: 10px;

  ul {
    text-decoration: none;
  }
  li {
    text-decoration: none;
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

.footer-link-btn {
  color: white;
  text-decoration: none;
  // background-color: $orange;
}

.wall-pro-logo {
  max-width: 50%;
}

.foot-project {
  color: white;
  max-width: 90%;
}

.foot-signup {
  color: white;
  
}

.shawppc-logo {
  max-width: 50%;
}

