#footer-position {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  // margin-top: 50px;
}

.footer-background {
  background-color: $blueDark;
}

.footer-line {
  border-top: 5px solid white;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
}

.footer-card {
  background-color:  $grayDark;
  color: white;
  border-radius: 20px;
  margin: 15px 10px 15px 10px;
  padding: 5px 5px 5px 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  max-width: 20%;
}

.footer-links {
  color: white;
  text-decoration: none;
  text-align: start;
  padding: 0 20px 0 20px;
  font-size: 1.5em;
  text-transform: uppercase;

  ul {
    text-decoration: none;
  }
  li {
    text-decoration: none;
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
    line-height: 1.2em;
  }
}

// link text in cards
.footer-link-btn {
  color: white;
  text-decoration: none;
  text-align: center;
}

.wall-pro-logo {
  max-width: 100%;
  margin: 0px;
}

// New project button/link text
.foot-project {
  color: white;
  max-width: 100%;
  text-align: center;
  font-size: 1.5em;
}

// Sign up card paragraph
.footer-signup-text {
  font-size: 1.2em;
  margin: 0 .5em .5em .5em ;
}

// Sign up button/link text
.foot-signup {
  color: white;
  max-width: 100%;
  text-align: center;
  font-size: 1.5em;
}

.shawppc-logo {
  max-width: 100%;
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;

}

.footer-icons {
  max-width: 74%;
  margin: 0 0.6em 0 .6em;
}

@media only screen and (max-width: 900px) {
  .footer-container {
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
  }
  .footer-card {
    border-radius: 20px;
    margin: 15px 10px 15px 10px;
    padding: 5px 5px 5px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    max-width: 90%;
  }  

  .footer-icons {
    max-width: 74%;
    margin: .5em 0.6em 1.5em .6em;
  }

}