.modal-1 {
    // background-image: linear-gradient(#1D2837, #162A45, #254666);
    background-color: $blueDark;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 85vw;
    min-height: 33vh;
    border-radius: 1em;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5em;
}

.modal-title{
    color: white;
    // text-transform: uppercase;
    text-transform: capitalize;
    text-align: center;
    font-size: 1.5vw;

}

.modal-body{
    color: white;
    font-size: 1.5vw;
    margin: 1em;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    margin: 2em;
}

.modal-btn-continue {
    color: white;
    background-color: $orange;
    border: 2px solid $orange;
    border-radius: 0.5em;
    padding: 1vw;
    margin: 0 1em 0 1em;
}

.modal-btn-continue:hover {
    color: $orange;
    border: 2px solid $orange;
    background-color: transparent;
  
    a {
      color: $orange;
    }
}

.modal-btn-signup {
    color: white;
    background-color: $orange;
    border: 2px solid $orange;
    border-radius: 0.5em;
    padding: 1vw;
    margin: 0 1em 0 1em;
    a {
        display: block;
        color: white;
        text-decoration: none;
    }
}

.modal-btn-signup:hover {
    color: $orange;
    border: 2px solid $orange;
    background-color: transparent;
  
    a {
      color: $orange;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
}

@media only screen and (max-width: 856px) {

    .modal-title{
        text-align: center;
        font-size: 3vw;
    
    }
    .modal-body{
        font-size: 3vw;
        margin: 1em;
    }
    .modal-btn-continue {
        padding: 1vw;
        border-radius: 0.5em;
        margin: 0 1em 0 1em;
    }
    .modal-btn-signup {
        padding: 1vw;
        margin: 0 1em 0 1em;
    }
}