.container,
.container-sm,
.container-xs {
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container {
  max-width: 1128px;
}

.container-sm {
  max-width: 944px;
}

.container-xs {
  max-width: 668px;
}

[class*="container"] [class*="container"] {
  padding-left: 0;
  padding-right: 0;
}

[class*="container"] .container-sm {
  max-width: 896px;
}

[class*="container"] .container-xs {
  max-width: 620px;
}

body {
  font-family: "Source Sans Pro", Helvetica, Verdana, sans-serif;
}

#footer-position {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-background {
  background-color: #1D2837;
}

.footer-line {
  border-top: 5px solid white;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer-card {
  background-color: #47484950;
  color: white;
  border-radius: 20px;
  margin: 15px 10px 15px 10px;
  padding: 5px 5px 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 20%;
}

.footer-links {
  color: white;
  text-decoration: none;
  text-align: start;
  padding: 0 20px 0 20px;
  font-size: 1.4em;
  text-transform: uppercase;
}

.footer-links ul {
  text-decoration: none;
}

.footer-links li {
  text-decoration: none;
  list-style-type: none;
}

.footer-links a {
  color: white;
  text-decoration: none;
  line-height: 1.2em;
}

.footer-link-btn {
  color: white;
  text-decoration: none;
  text-align: center;
}

.wall-pro-logo {
  max-width: 100%;
  margin: 0px;
}

.foot-project {
  color: white;
  max-width: 100%;
  text-align: center;
  font-size: 1.5em;
}

.footer-signup-text {
  font-size: 1.2em;
  margin: 0 .5em .5em .5em;
}

.foot-signup {
  color: white;
  max-width: 100%;
  text-align: center;
  font-size: 1.5em;
}

.shawppc-logo {
  max-width: 100%;
}

.icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer-icons {
  max-width: 74%;
  margin: 0 0.6em 0 .6em;
}

@media only screen and (max-width: 900px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-card {
    min-width: 85vw;
  }
  .footer-signup-text {
    font-size: 1.2em;
    margin: .5em .5em .5em .5em;
  }
  .foot-signup {
    font-size: 1.5em;
    margin: .5 .5em .5em .5em;
  }
  .footer-icons {
    max-width: 74%;
    margin: .5em 0.6em 1.5em .6em;
  }
}

Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-text {
  background-color: #C4C4C420;
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 2em;
  border-radius: 0.5em;
  margin: 1vw 0 1vw 0;
  font-size: 4vw;
}

.header-text span {
  margin: 0 0.2em 0 0.2em;
}

@media only screen and (max-width: 900px) {
  .header-text {
    height: 2em;
    margin: 5vw 0 5vw 0;
    font-size: 8vw;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .25s all ease;
  transition: .25s all ease;
}

.login-form {
  display: block;
  position: relative;
  z-index: 0;
  margin: 4rem auto 4rem;
  padding: 5rem 4rem 5rem 4rem;
  width: 100%;
  border-radius: 2em;
  max-width: 630px;
  min-height: 500px;
  background-color: #c4c4c420;
  -webkit-box-shadow: 0 7.6vh 10.6vh -3vh rgba(0, 0, 0, 0.85);
          box-shadow: 0 7.6vh 10.6vh -3vh rgba(0, 0, 0, 0.85);
}

.login-title {
  color: #a3becf;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 3rem;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-div, .pass-div {
  color: white;
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 1rem;
  padding-bottom: 0.2em;
}

.login-btn {
  background-color: #da9f63;
  color: #ffffff;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 3rem;
  padding: .75rem;
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  border: none;
  cursor: pointer;
}

.create-acct-opt {
  font-size: 1.1rem;
  padding-top: 1.5em;
  color: white;
  margin-top: 1.5rem;
}

.pass, .user-email {
  color: white;
  font-size: 1.15rem;
  width: 100%;
  padding: .5rem 1rem;
  border: 2px solid transparent;
  outline: none;
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  letter-spacing: 1px;
  margin-top: 1.2rem;
}

.user-email:hover,
.user-email:focus {
  color: white;
  border: 2px solid rgba(243, 241, 241, 0.479);
  background-color: transparent;
}

.pass:hover,
.pass:focus {
  color: white;
  border: 2px solid rgba(243, 241, 241, 0.479);
  background-color: transparent;
}

/* navbar */
nav {
  margin-bottom: 75px;
  margin-top: 15px;
  margin-bottom: 5%;
  position: relative;
  width: 100%;
}

nav ul {
  text-align: center;
  list-style-type: none;
  list-style-type: none;
  margin: 0;
  padding: 15px;
}

nav li {
  display: inline;
  font-family: sans-serif;
  font-size: 1.5em;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
}

nav a {
  color: #fcfcfc;
  text-decoration: none;
  padding: 14px;
}

nav a:hover {
  background-color: #da9f63;
  border-radius: 8px;
}

nav .line {
  float: right;
  margin-top: 12px;
  border-radius: 1px;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  border-bottom: solid 4px #da9f63;
  width: 70%;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .25s all ease;
  transition: .25s all ease;
}

.create-form {
  display: block;
  position: relative;
  z-index: 0;
  margin: 4rem auto 4rem;
  padding: 5rem 4rem 5rem 4rem;
  width: 100%;
  border-radius: 2em;
  max-width: 630px;
  min-height: 680px;
  background-color: #c4c4c420;
  -webkit-box-shadow: 0 7.6vh 10.6vh -3vh rgba(0, 0, 0, 0.85);
          box-shadow: 0 7.6vh 10.6vh -3vh rgba(0, 0, 0, 0.85);
}

.create-title {
  color: #a3becf;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 3rem;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.userFirst-div, .userLast-div, .userEmail-div, .userPass-div, .userPass-div-div {
  color: white;
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 1rem;
  padding-bottom: 0.2em;
}

.create-btn {
  background-color: #da9f63;
  color: #ffffff;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 3rem;
  padding: .75rem;
  border-radius: 2rem;
  display: block;
  width: 100%;
  border: none;
  cursor: pointer;
}

.login-opt {
  font-size: 1.1rem;
  padding-top: 1.5em;
  color: white;
  margin-top: 1.5rem;
}

.add-first, .add-last, .add-email, .add-pass, .pass-add-pass {
  color: white;
  font-size: 1.15rem;
  width: 100%;
  padding: .5rem 1rem;
  border: 2px solid transparent;
  outline: none;
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  letter-spacing: 1px;
  margin-top: 1.2rem;
}

.add-first:hover,
.add-first:focus {
  color: white;
  border: 2px solid rgba(243, 241, 241, 0.479);
  background-color: transparent;
}

.add-last:hover,
.add-last:focus {
  color: white;
  border: 2px solid rgba(243, 241, 241, 0.479);
  background-color: transparent;
}

.add-email:hover,
.add-email:focus {
  color: white;
  border: 2px solid rgba(243, 241, 241, 0.479);
  background-color: transparent;
}

.add-pass:hover,
.add-pass:focus {
  color: white;
  border: 2px solid rgba(243, 241, 241, 0.479);
  background-color: transparent;
}

.pass-add-pass:hover,
.pass-add-pass:focus {
  color: white;
  border: 2px solid rgba(243, 241, 241, 0.479);
  background-color: transparent;
}

.how-to-top {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-to-title {
  color: #a3becf;
  text-transform: uppercase;
  font-size: 2.2em;
  padding: 0 0 1em 0;
}

.player-wrapper {
  position: relative;
  padding: 0 0 1em 0;
}

.react-player {
  position: relative;
}

.how-subtitle {
  color: #da9f63;
  text-transform: uppercase;
  font-size: 2.2em;
  padding: 0 0 1em 0;
}

.how-description {
  color: white;
  font-size: 1.3em;
}

.fact-section {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(black, blue));
  background-image: linear-gradient(blue black);
  border-top: solid 5px #da9f63;
  margin: 1em 0 .5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fact-title {
  color: #da9f63;
  text-transform: uppercase;
  font-size: 2.2em;
  padding: 1em 0 1em 0;
}

.fqa-list {
  color: white;
  font-size: 1.3em;
  list-style-type: circle;
  -webkit-padding-start: 0.5em;
          padding-inline-start: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-container {
  padding: 2em 0 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.images {
  border: solid 2px #da9f63;
  padding: 1em;
  margin: 2em;
}

.calc-btn {
  color: white;
  background-color: #da9f63;
  -webkit-box-shadow: 0 7.6vh 10.6vh -3vh rgba(0, 0, 0, 0.85);
          box-shadow: 0 7.6vh 10.6vh -3vh rgba(0, 0, 0, 0.85);
  border: none;
  border-radius: 0.5em;
  text-align: center;
  margin: 1.5em 1em 1em 1em;
  padding: .6em 2em .6em 2em;
}

.calc-btn:hover {
  color: #da9f63;
  border: 2px solid #da9f63;
  background-color: transparent;
}

.contact-form-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3em 0 5em 0;
}

.contact-form {
  background-color: #c4c4c420;
  min-width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: .5em;
  -webkit-box-shadow: 0 7.6vh 10.6vh -3vh rgba(0, 0, 0, 0.85);
          box-shadow: 0 7.6vh 10.6vh -3vh rgba(0, 0, 0, 0.85);
  border: solid 2px #da9f63;
  padding: 1.5em 1.5em .5em 1.5em;
}

.contact-form-text {
  text-transform: uppercase;
  color: #da9f63;
  font-size: 2em;
  margin: 0 0 1em 0;
}

.contact-form label {
  color: white;
  text-transform: uppercase;
  font-size: 1em;
  margin: 1rem 0 0 0;
  padding: 0 0 0.2em 0;
}

.contact-form-name,
.contact-form-email,
.contact-form-subject,
.contact-form-message {
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid #da9f63;
  border-radius: .5em;
  color: white;
  width: 100%;
  font-size: 1.15rem;
  outline: none;
  letter-spacing: 1px;
  padding: .5em .5em .5em .5em;
  margin: 1.2rem 0 .5em 0;
}

.contact-form-name:hover,
.contact-form-name:focus,
.contact-form-email:hover,
.contact-form-email:focus,
.contact-form-subject:hover,
.contact-form-subject:focus,
.contact-form-message:hover,
.contact-form-message:focus {
  color: white;
  border: 2px solid rgba(243, 241, 241, 0.479);
  background-color: transparent;
}

.contact-form-submit {
  color: white;
  background-color: #da9f63;
  -webkit-box-shadow: 0 7.6vh 10.6vh -3vh rgba(0, 0, 0, 0.85);
          box-shadow: 0 7.6vh 10.6vh -3vh rgba(0, 0, 0, 0.85);
  border: none;
  border-radius: 0.5em;
  text-align: center;
  margin: 1.5em 1em 1em 1em;
  padding: .6em 2em .6em 2em;
}

.contact-form-submit:hover {
  color: #da9f63;
  border: 2px solid #da9f63;
  background-color: transparent;
}

@media only screen and (max-width: 900px) {
  .contact-form {
    min-width: 90%;
    border-radius: .5em;
    border: solid 2px #da9f63;
    padding: 1.5em 1.5em .5em 1.5em;
  }
}

.modal-1 {
  background-color: #1D2837;
  max-width: 75%;
  border-radius: 1em;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1.5em;
}

.modal-title {
  color: white;
  text-transform: capitalize;
  font: 1em sans-serif;
}

.modal-body {
  color: white;
  font: 1.5em sans-serif;
  margin: 1em;
}

.modal-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em;
}

.modal-btn-continue {
  color: white;
  background-color: #da9f63;
  padding: 1em;
  border-radius: 0.5em;
  border: none;
  margin: 0 1em 0 1em;
}

.modal-btn-signup {
  color: white;
  background-color: #da9f63;
  padding: 1em;
  border-radius: 0.5em;
  border: none;
  margin: 0 1em 0 1em;
}

.devcardgrid {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  height: 80vh;
}

.webdev5 {
  float: left;
  border: 1px solid #da9f63;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 2rem;
  padding: 2.5rem;
  border-radius: 2.5rem;
  background-color: #1D2837;
  color: #a3becf;
}

h1 {
  margin: .15rem;
  text-align: left;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0.5rem;
}

a {
  font-size: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 1.15rem;
}

.calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button {
  font-size: 1rem;
}

body {
  border: none;
  width: 100%;
  /* background-image: inherit; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/primary-background.png");
  background-color: #1D2837;
}

.home-container {
  min-height: 80vh;
  max-width: 50%;
  margin: 1em;
}

.ppc-logo-bg {
  background-color: #c4c4c420;
  border-radius: 0.5em;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
}

.ppc-logo-bg span {
  font-size: 3em;
  margin: 0 0.2em 0 0;
}

.home-text-bg {
  background-color: #c4c4c420;
  -webkit-box-shadow: 0 7.6vh 10.6vh -3vh rgba(0, 0, 0, 0.85);
          box-shadow: 0 7.6vh 10.6vh -3vh rgba(0, 0, 0, 0.85);
  border-radius: 0.5em;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
}

.home-text {
  color: white;
  font-size: 1.5em;
  margin: 0.5em;
}

.create-account-btn {
  background-color: #da9f63;
  color: white;
  display: block;
  border-radius: 0.5em;
  border-style: none;
  margin: 1.5em 1em 1em 1em;
  padding: 1em;
  -webkit-box-shadow: 0 7.6vh 10.6vh -3vh rgba(0, 0, 0, 0.85);
          box-shadow: 0 7.6vh 10.6vh -3vh rgba(0, 0, 0, 0.85);
}

.create-account-btn a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

@media only screen and (max-width: 900px) {
  body {
    background-size: cover;
    background-image: url("../img/primary-background-mobile2.png");
  }
  .home-container {
    max-width: 90%;
    margin: .5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .ppc-logo-bg {
    border-radius: .5em;
    display: inline-block;
    margin: .5em;
    padding: .5em;
  }
  .ppc-logo-bg span {
    font-size: 3em;
    margin: 0 .2em 0 0;
  }
}

.fourohfour {
  color: #1D2837;
  background-color: #6c6c6c;
  text-align: center;
  text-justify: center;
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/primary-background.png");
  background-color: rgba(0, 0, 255, 0.2);
}

.container-card {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1rem;
  background-color: #a3becf;
  padding: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-color: #ead67f;
}

.btn {
  background-color: #1D2837;
  margin: 1rem;
  width: 50%;
  padding: 10px;
  border-radius: 1rem;
  color: #a3becf;
}

.btn:hover {
  color: #ead67f;
  background-color: #6c6c6c;
}

a {
  color: #a3becf;
}

.contact-page {
  min-height: 80vh;
}

.MaF {
  min-height: 90vh;
}
/*# sourceMappingURL=main.css.map */