$yellow: #ead67f;
$orange: #da9f63;
$blue: #a3becf;
$blueDark: #1D2837;
$grayDark: #47484950;
$grayLight: #C4C4C420;
$brown: #6c6c6c;
$input: rgba(255, 255, 255, 0.25);
$background: #c4c4c420;
$boxshadow: 0 7.6vh 10.6vh -3.0vh rgba(0, 0, 0, 0.85);